body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h2 {
  display: inline;
  font-size: 40px;
}

#nav {
  margin: 20px;
}

h3 {
  margin-bottom: 10px;
  font-size: 26px;
}

p {
  line-height: 22px;
}

.arrow {
  display: inline;
  text-decoration: none;
  color: black;
  font-size: 40px;
  cursor: pointer;
}

#right-arrow {
  float: right;
}

#left-arrow {
  float: left;
}

ul {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
  transition: all 0.5s ease-in-out;
}

.menu-item {
  display: inline-block;
  background-color: black;
  color: white;
  border: 2px solid #FFF;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

@media (max-width: 620px) {
  .menu-item {
    width: 90%;
  }
  ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 620px) {
  .menu-item {
    width: 90%;
    float: left;
  }
  ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 1100px) {
  .menu-item {
    width: 90%;
    float: left;
  }
  ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}