body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  background-color: black;
  padding: 0 20px 0 20px;
}

h2 {
  color: white;
  display: inline;
  text-transform: capitalize;
}

.nav {
  position: relative;
  margin: 20px 5px 20px 5px;
  font-size: 36px;
}

h3 {
  margin-bottom: 10px;
  font-size: 26px;
}

p {
  line-height: 22px;
}

.day-navigation {
  position: absolute;
  bottom: 3px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.next-day {
  right: 0;
}

.next-day:after {
  content: ">>";
}

#friday .next-day {
  display: none;
}

.previous-day {
  left: 0;
}

.previous-day:before {
  content: "<<";
}

#monday .previous-day {
  display: none;
}

ul {
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 20px;
  column-fill: auto;
}

.menu-item {
  display: inline-block;
  background-image: url('blackboard.jpg');
  background-size: cover;
  color: white;
  border: 2px solid #FFF;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

@media (max-width: 415px) {
  .nav {
    font-size: 28px;
  }
}

@media (max-width: 620px) {
  ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 620px) {
  ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  .next-day:before {
    content: "next ";
  }
  .next-day {
    font-size: 22px;
    top: 9px;
  }
  .previous-day:after {
    content: " previous";
  }
  .previous-day {
    font-size: 22px;
    padding: 12px 0 0 0;
  }
}

@media (min-width: 1100px) {
  ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}